/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
:root {
    --bg-white: white;
    --bg-black: black;
}

.box,
.box-icone, 
.button {
    cursor: pointer;
}

.row-top,
.row,
.box-left,
.box-center,
.box-right {
    display: flex;
}

.h-100 {
    height: 100%;
}
/* ROW-TOP */
.main-container {
    height: 100vh;
    overflow: hidden;
}

.main-nav {
    height: 3.125rem;
    background-color: var(--bg-black);
}

.row-top  {
    color: var(--bg-white);
    justify-content: end;
    gap: .4375rem;
    padding: .625rem;
}

.box {
    background: #4a4a4a;
    padding: .25rem;
    border-radius: .375rem;
}

/* ROW-CENTER */
.row-center {
    height: calc(100vh - 7.8125rem);
    background-color: var(--bg-black);
}

.container {
    margin: 0 auto;
    padding: 2.5rem 3.125rem;
}

.row-center .row {
    flex-wrap: wrap;
    gap: .3125rem;
}

.row-center .col {
    flex-basis: calc(100% / 7 - .625rem);
    flex-grow: 1;
    position: relative;
}

.box-center img {
    width: 100%;
    object-fit: cover;
}

.box-center {
    height: 6.25rem;
    border-top-right-radius: .625rem;
    border-bottom-left-radius: 1.25rem;
    overflow: hidden;
    margin-bottom: .625rem;
}

.box-name {
    position: absolute;
    bottom: .625rem;
    color: var(--bg-white);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: .4375rem;
    padding: .1875rem .5625rem;
    cursor: pointer;
}

/* ROW-BOTTOM */
.row-bottom {
    background-color: #222222;
    color: var(--bg-white);
    height: 4.6875rem;
}

.row-bottom .row {
    justify-content: space-between;
    align-items: center;
}

.box-icone {
    padding-right: .9375rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
}

.box-icone div {
    padding-top: .375rem;
}

.fa-angle-up {
    position: relative;
    top: .625rem;
    padding-right: .3125rem;
    font-size: .625rem;
}

.fa-share-from-square {
    color: #46c800;
    font-size: 1.25rem;
}

.square button {
    background-color: #4a4a4a;
    color: #d2212a;
    padding: .9375rem;
    cursor: pointer;
    border: none;
}

