/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
:root {
    --bg-white: white;
    --bg-black: black;
}

/* ROW-TOP */
.row-top {
    background-color: var(--bg-black);
    color: var(--bg-white);
    display: flex;
    justify-content: end;
    gap: .4375rem;
    padding: .625rem;
}

.box {
    background: #4a4a4a;
    padding: .25rem;
    border-radius: .375rem;
}