/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
:root {
    --bg-white: white;
    --bg-black: black;
}

/* ROW-TOP */
.row-top {
    background-color: var(--bg-black);
    color: var(--bg-white);
    display: flex;
    justify-content: end;
    gap: .4375rem;
    padding: .625rem;
}

.box {
    background: #4a4a4a;
    padding: .25rem;
    border-radius: .375rem;
}

/* ROW-CENTER */
.row-center {
    height: 100vh;
}

.container {
    /* max-width: 1200px; */
    margin: 2.1875rem auto;
    padding: 0 50px;
}

.row-center .row {
    display: flex;
    flex-wrap: wrap;
    gap: .3125rem;
}

.row-center .col {
    flex-basis: calc(100% / 7 - .625rem);
    flex-grow: 1;
    position: relative;
}

.box-center img {
    width: 100%;
    height: 7.5rem;
    object-fit: fill;
}

.box-name {
    position: absolute;
    bottom: .625rem;
    color: var(--bg-white);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .4375rem;
    padding: .1875rem .5625rem;
}
